body {
    margin: 0
}
* {
    box-sizing: border-box;
}
header nav   {
    height: 38px;
    background: black;
    width: 100%;
    color: rgb(153, 152, 152);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav * {
    float: left;
    width: 10%;
    height: 100%;
    color: #ffff;
    text-decoration: none;
    list-style: none;
    margin: 0;
}
nav ul {
    width: 60%;
}
header nav ul  li, .login {
    float: left;
    width: 10%;
    height: 100%;
    padding-left: 20px;
    border-left: 1px solid grey;
    position: relative;
    right: 80px;
    padding-top: 10px;
    margin-top: 0;
    text-align:center;
    font-size: small;
}
nav a {
    position: relative;
    right: -2px;
    text-align: center;
}
.life {
    right: 5px;
}
nav > .login {
    width: 20%;
    position: relative;
    left: 48px;
    top: 0px;
    text-align: start;
    padding-left: 35px;
}

nav form input {
    width: 100%;
    position: relative;
    left: 35px;
    top: 9px;
    height: 20px;

}
nav form {
    position: relative;
    right: 40px;
    width: 15%;
    padding-right: -60px;
    height: 100%;
    border-left: 1px solid grey;
}
nav > img{
    height: 100%;
    width: 5%;
    position: relative;
    left: 10px;
    *zoom: 1;
}

main > section {
    width: 50%;
    height: 420px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#first, #four {
    margin: 0;
}

#first > h1 {
    position: relative;
    bottom: 180px;
    left: 15px;
    color: #ffff;
    margin-left: 10px;
    font-weight: bolder;
    font-size: xx-large;
    word-spacing: -1px;
    
}
#first > p {
    position: relative;
    bottom: 180px;
    left: 8px;
    color: rgb(153, 152, 152);
    font-size: medium;
    margin-left: 15px;
}
#first > span {
    position: relative;
    bottom: 190px;
    left: 8px;
    color: rgb(153, 152, 152);
    font-size: smaller;
    margin-left: 15px;
    
}
#four  h4 {
    position: relative;
    bottom: 120px;
    color: #ffff;
    position: relative;
    left: 30px;
    font-size:medium;
    
}
#four  span {
    position: relative;
    bottom: 120px;
    color: rgb(153, 152, 152);
    position: relative;
    left: 30px;
    font-size: smaller;
    
}
main > section + section section {
    width: 50%;
    height: 250px;
    float: left;
    
}
main > section > img {
    height: 400px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
main > section + section > section  img {
    height: 190px;
    width: 100%;
    position: relative;
    left: 20px;
    top: 0;
    padding-left: 8px;
}
main > section + section .grp-2 > img {
    height: 190px;
    width: 100%;
    position: relative;
    left: 10px;
    top: 0;
    padding-right: 10px;
    padding-left: 0px;
}
section > .grp-1 {
    height: 200px;
    width: 40%
    position: relative;
    bottom: 25px;
    top: 0px;
    padding-right: 3px;
    left: 2px;
    
}
section > .grp-2 {
    height: 200px;
    position: relative;
    bottom: 0px;
    top: 5px;
    left: -5px;
    padding-top: 5px;
    padding-left: 5px;
    
}
main + section > section {
    float: left;
    width: 33.3333%;
    height: 400px;
    padding-left: 5px;
    
}
main + section  section  img {
    width: 98%;
    height: 250px;
}
main > aside {
    width: 100%;
    height: 100%;
}
aside > h2 {
    height: 20px;
    float: left;
    width: 50%;
    padding-left: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside > h2 + #date {
    left: 0px;
    padding-left: 450px;


}
.login > input {
    font-size: x-large;
    text-align: start;
    text-indent: 100px;
}
#date {
    color: rgb(153, 152, 152);
}
main + section > aside  h3 {
    padding-left: 12px;
    float: left;
    width: 100%;
    border-left: 4px solid red;
    padding-top: 0;
    position: relative;
    left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main + section > section > h4, p, span {
    position: relative;
    bottom:  5px;
    margin-left: 0px;
    color: #000;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    word-spacing: 2px;
    
}
main + section > section > h4{
    letter-spacing: 1px;
    word-spacing: 1px;
}
p {
    color: rgb(153, 152, 152);
    font-size:medium;
}
span {
    border-left: 2px solid red;
    padding-left: 10px;
    color: rgb(153, 152, 152);
    font-size: smaller;
}

@media all and (max-width: 600px) {
    header > nav {
        display: none;
    }
    main > #first, main > aside > h2, main > #four {
        float: left;
        width: 100%;
        margin-left: .05em;
        font-size: medium;
        
    }
    h1 {
        font-size: smaller;
        margin-top: -25px;
        font-weight: 200;
    }
    #four h4 {
        font-size: 15px;
        margin-top: -8px;
        font-style: italic;
        white-space:break-spaces;
    }
    main > #first > p {
        font-size: small;
        margin-top: -25px;

    }
    main > #first > img {
        height: 90%;
    }
    .grp-2 > h4, .grp-1 > h4 {
       font-weight: 100;
        width: 70%;

    }

    main > aside h2 ~ h2 {
        float: right;
        width: 100%;
        font-size: x-small;
        
    }
    .grp-2 > span, .grp-1 > span {
        margin-top: -17px;
    }
    main + section > section {
        float: left;
        width: 100%;
        height: 500px;
    }
    main + section > section > h4 {
        letter-spacing:1px;
        word-wrap:normal;
        word-spacing: -1px;
    }
}
@media (min-width: 601px) and (max-width: 990px) {
    header > nav > ul > li, .login {
        font-size: 10px;
        width: 15%;
    
    }
    header > nav {
        position:fixed;
       
    }
    header {
        position: relative;
        height: 40px;
        
    }
    #date {
        font-weight: 200;
        text-align: center;
        font-size: 15px;
        word-wrap: normal;
        position: relative;
        right: -60px;
        width: 100%;
        height: 100%;
        top: -65px
    
        
    }
    #first {
        margin-top: 0px;
        float: left;
        width: 100%;
    }
    #four {
        margin-top: 0px;
        float: left;
        width: 100%;
    }
    main + section > section {
        height: 500px;
    }
    .last {
        position: relative;
        bottom: -16px;
    }
    
}

@media (min-width: 991px) {
    main + section > section {
        height: 100%;
    }
    
    
}
main, header > nav, section {
    width: 100%;
    padding: 0px;
    overflow: hidden;
}