/* layout1 */
header, footer{
    border:2px solid black;
    height: 80px;
}
/* section{
    height: 200px;
    border:2px solid black;
    width:33.333%;
    float: left;
}
.bot{
    width: 50%;
} */
.container, .box{
    display: flex;
}
section{
    flex:1;
    height:200px;
    border: 2px solid black;
}