/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 20px 15px 5px 12px;
  background-color: black;
}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
  border: 1px solid black;
  height: 100px;
  clear: both;
  background-color: lavenderblush;
}

main > section {
  border: 1px solid black;
  background-color: aqua;
  float: left;
  width: 33.33%;
  height: 200px;
  
}
.bottom > section {
  float: left;
  width: 50%;
  height: 200px;
  border: 1px solid black;
  background-color: lightcoral
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
